body{
    height: 880px;
    background: linear-gradient(#e66465, #9198e5);
}
.container{
    height: 650px;
    background: linear-gradient(#e66465, #9198e5);
}
h1{
    font-family: 'Ubuntu', sans-serif;
}
.crea{
    text-decoration: none;
}

center{
    margin-top: 40px;
}
